<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Universal KeePass</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!-- Jquery Ajax-->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome on UKP!</a></li>
							<li><a href="#one">An insicure Cyber World</a></li>
							<li><a href="#two">What UKP do</a></li>
							<li><a href="#three">Who I am</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Universal KeePass</h1>
							<p> A secure place in the Cyber World</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
								<li><a id="loginPage"class="button singup scrolly">Start with Universal KeePass</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
				<section id="one" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>The Cyber World is insicure</h2>
						<p>Every day emails, bank accounts, social profiles are under attack from people that use technical knowledge maliciously to take your personal data</p>
						<p>There are many ways to discover your credentials</p>
						<div class="features">
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Malicious Programs</h3>
								<p>These programs can take you password from you keyboard during the typing or sniffing the password during the sending</p>
							</section>
							<section>
								<span class="icon solid major fa-lock"></span>
								<h3>Common Passwords</h3>
								<p>Every people use the same password for all the services and sometimes this password is something of important for them, like dates, parent'names, ect..</p>
							</section>
							<section>
								<span class="icon solid major fa-cog"></span>
								<h3>Malicious Web Sites</h3>
								<p>These web sites are clone of famous web sites (for example Facebook) but when you give your credentials you are giving them to another person!</p>
							</section>
							<section>
								<span class="icon solid major fa-desktop"></span>
								<h3>Snoopers</h3>
								<p>Sometimes is more simple and is not required technical knowledge to discover your credentials... is only necessary watch you during the typing!</p>
							</section>
						</div>
						<ul class="actions">
							<li><a href="https://phoenixnap.com/blog/cyber-security-attack-types" class="button" target="_blank" rel="noopener noreferrer">Learn more about Cyber Attacks</a></li>
						</ul>
					</div>
				</section>

				<!-- Two -->
					<section id="two" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>What We do</h2>
							<p>Universal KeePass can store in safe your credentials for all your service, in this way you can create long and strong passwords without remembering them...</p>
							<p>We remember them for you!</p>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Student</h2>
							<p>I'm Christian Vaccarino, a student of University of Milan in Cyber Security and this is my personal project</p>
							<div class="split style1">
								<section>
									<h2>You need more information?</h2>
									<p>It will be a pleasure help you!</p>
									<p>You can contact me for every clarifications</p>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>Via Monte Nero, 3<br />
											Collegno, Turin ZIP Code 10093<br />
											Italy</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">christian.vaccarino@studenti.unimi.it</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(+39) 331 3101069</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/ChriChri4" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/christian_vaccarino/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/christian-vaccarino-b3417a126" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; UniversalKeePass. All rights reserved. by Christian Vaccarino</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

		<!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

		<!--My scripts-->
		<script src="/js/home.js" ></script>

	</body>
</html>