<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link rel="stylesheet" type>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Universal KeePass</title>
    </head>
    <body>
        <div class="loginbox" style="text-align: center;">
            <img class="logo" src="/img/logo.png">
            <h1> Require new password </h1>
            <form>
                <p> Email Account</p>
                <input type="text" name="" placeholder=" Enter Email">
                <p style="color: black;">Please enter you email account</p>
                <br>
                <p style="color: black;">You'll receive an email with a new password</p>
                <br>
                <br>
                <input type="button" id="btn" value="Send New Password"></input>
            </form>
        </div>
    </body>
</html>